*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mainFontCaptal;
    src: url(./Fonts/BebasNeue-Regular.otf);
}

@font-face {
    font-family: mainFontNormal;
    src: url(./Fonts/BebasNeue-Regular.woff);
}

:root{
    --svg-dark-color : #475569;
    --svg-light-color : #94a3b8;
    --main-color-dark : #115e59;
    --main-color-light : #2dd4bf;
    --side-bar-text-font-color: #f3f4f6;
    --header-color: #ccfbf1;
    --shadow-color: #134e4a;
} 

/* svg animation */

svg{
    cursor: pointer;
}

#dark{
    fill: var(--svg-dark-color);
}

#light{
    fill: var(--svg-light-color);
}

#dark_1,
#dark_2,
#light_2{
    transition: all 1s ease;
}

#dark_2{
    transform: translateX(-100%);
}

svg:hover #light_2{
    transform: translateX(20%);
}

svg:hover #dark_1{
    transform: translateX(40%);
    opacity: 0;
}

svg:hover #dark_2{
    transform: translateX(0%);
}


/* universal styles */

ul li{
    list-style: none;
    display: flex;
    align-items: center;
}

img{
    height: 50px;
    width: 50px;
}


/* icon color */

.upper-set .icon, .lower-set .icon, .logo-container .icon{
    color: var(--side-bar-text-font-color);
}

.upper-set .icon img, .lower-set .icon img, .logo-container .icon img{
    filter: brightness(0) invert(87%) sepia(2%) saturate(1083%) hue-rotate(217deg);
}

/* Main page layout */

.main-col-layout{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* side bar */

/* .sidebar-container{
    background-color: var(--main-color-dark);
    padding-top: 2rem;
    padding-left: 2rem;
}

.sidebar-container .icon{
    padding-right: 1.3rem;
}

.sidebar-container .icon-text p{
    color: var(--side-bar-text-font-color);
    font-family: mainFontNormal;
    font-size: min(2rem , 2.4rem);
}

.first-sidebar-set{
    padding-top: 2rem;
    padding-bottom: 2rem;
} */

.logo-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.sidebar-container{
    display: grid;
    grid-template-rows: 0.5fr 5fr ;
    background-color: var(--main-color-dark);
    padding-left: 2rem;
    padding-top: 2rem;
    height: 100vh;
}

.sidebar-container .icon{
    padding-right: 1.5rem;
}

.first-sidebar-set{
    /* border: 1px solid black; */
    padding: 2rem 0;
}

.second-sidebar-set{
    /* border: 1px solid black; */
    padding-bottom: 2rem;
}

.sidebar-icons-and-content li{
    padding-bottom: 1.5rem;
}

.sidebar-icons-and-content .icon-text p{
    font-family: mainFontNormal;
    font-size: 2rem;
    color: var(--side-bar-text-font-color);
}

.logo-container .icon img{
    height: 75px;
    width: 75px;
}

.logo-container .icon-text p{
    font-family: mainFontNormal;
    font-size: 3.5rem;
    color: var(--side-bar-text-font-color);
}

/* Main content */

.main-content-container{
    display: grid;
    grid-template-rows: repeat(1, minmax(180px, 15%)) repeat(1, minmax(400px, 75%));
}

.header-container{
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--header-color);
    padding-left: 3rem;
    padding-top: 1rem;
    padding-right: 3rem;
}

.header-container .frist-row{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header-container .frist-row .search-conetnt{
    display: flex;
    flex-direction: row;
}

.header-container .frist-row .search{
    padding-right: 1rem;
}

.header-container .frist-row .search-bar-design{
    height: 70%;
    width: 50vw;
    background-color: var(--side-bar-text-font-color);
    border-radius: 25px;
    /* border: 1px solid var(--main-color-dark); */
    box-shadow: 5px 5px 10px  var(--shadow-color);
}

.header-container .frist-row .name{
    /* align-self: center; */
    font-family: mainFontNormal;
    font-size: 2.5rem;
    color: var(--shadow-color);
}

.header-container .left-side-header{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.header-container .second-row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 2.5rem;
}

.header-container .second-row .name-big-container{
    display: flex;
    flex-direction: row;
}

.header-container .second-row .buttons{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
}

.header-container .second-row .round-big-bg-icon{
    padding-right: 1rem;
}

.header-container .second-row .round-big-bg-icon img{
    height: 70px;
    width: 70px;
}

.header-container .second-row .small-text {
    color: var(--main-color-dark);
    font-family: mainFontNormal;
    font-size: 1.2rem;
}

.header-container .second-row .big-text {
    color: var(--shadow-color);
    font-family: mainFontNormal;
    font-size: 2rem;
}

.header-container .second-row .new-button{
    padding: 10px;
    border-radius: 50px;
    background-color: var(--side-bar-text-font-color);
    box-shadow: 5px 5px 10px  var(--shadow-color);
}

#btn-two, #btn-three, #btn-one{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-two p, #btn-three p, #btn-one p{
    color: var(--shadow-color);
    font-family: mainFontNormal;
    font-size: 2rem;
}


.contents-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}